*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:url(blank-notepad-calculator-copy-space.jpg);

}
#header{
            

    background-color:rgb(43, 38, 63);

    width: 100%;
    height: 90px;
    display: flex;
    top:0;
    position: fixed;
}
.header-name{
    color: white;
    width: fit-content;
    height: fit-content;
    margin-left: 42%;
    margin-right: auto;
    padding-top: 26px;
}
#logo{
    width: 70px;
    height: 80px;
    margin-left: 25%;
    padding-top: 13px;

}
.created-log{
    display: flex;
    font-size: 65px;
    background: -webkit-linear-gradient(#eee,  #dd0d0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  
}
.calculator_body{
    height: 80vh;
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
    border: 8px solid black;
    background-color: white;
}
@media screen and (max-width:922px) {
    .calculator_body{
        width: 80%;
    }
    
}

.display{
    width: 100%;
    height: 21%;
    border: 2px solid black;
    /* text-align: end; */
    /* align-content: baseline; */
    align-content: last baseline;
    text-align: end;
    font-size: 2rem;
}
.button_container{
    width: 100%;
    height: 69%;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media and (max-height:922px) {
    height: 67%;
    
}
.button{
    width: 25%;
    border: 2px solid black;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5em;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 25px rgb(46, 40, 40);
    background-color: grey;
}
.orange{
    background-color: orange;
}

/* ===== Footer Styles ===== */
.footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 40px 0 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 300px;
  margin: 15px;
}

.footer-section h2 {
  font-size: 18px;
  color: #00bcd4;
  margin-bottom: 15px;
}

.footer-section p, 
.footer-section a, 
.footer-section li {
  color: #ccc;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}

.footer-section a:hover {
  color: #00bcd4;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 13px;
  color: #aaa;
}

/* ===== Responsive Design ===== */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 10px 0;
  }
}
